/* FULL SCREEN WRAPPER */
.chat-wrapper {
  height: 65vh;              /* reduce height */
  max-height: 800px;         /* prevent stretching on big screens */
  width: 100%;
  max-width: 900px;          /* control width */
  
  background: white;
  border-radius: 12px;

  margin: 40px auto;         /* center horizontally */
  display: flex;
  flex-direction: column;

  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}


/* MAIN CHAT BOX */
.chat-container {
  width: 100%;
  max-width: 900px;
  height: 85vh;
  max-height: 800px;
  background: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

/* HEADER */
.chat-header {
  background: #1877f2;
  color: white;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.avatar {
  width: 35px;
  height: 35px;
  background: white;
  color: #1877f2;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LOGOUT BUTTON */
.logout-btn {
  background: white;
  color: #1877f2;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

.logout-btn:hover {
  background: #e4e6eb;
}

/* CHAT BODY */
.chat-body {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #f9fafb;
}

/* MESSAGES */
.message {
  max-width: 60%;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  word-wrap: break-word;
}

.sent {
  align-self: flex-end;
  background: #1877f2;
  color: white;
}

.received {
  align-self: flex-start;
  background: white;
  color: black;
  border: 1px solid #ddd;
}

/* INPUT */
.chat-input {
  display: flex;
  padding: 12px;
  background: white;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.chat-input button {
  margin-left: 10px;
  background: #1877f2;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

.chat-input button:hover {
  background: #166fe5;
}
